<div class="container">
  <h2>Регистрация</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="email">Email:</label>
      <input id="email" formControlName="email" type="email" required />
      <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
        <small class="text-danger">Некорректный email.</small>
      </div>
    </div>

    <div>
      <label for="login">Логин:</label>
      <input id="login" formControlName="login" required />
      <div *ngIf="registerForm.get('login')?.invalid && registerForm.get('login')?.touched">
        <small class="text-danger">Логин обязателен.</small>
      </div>
    </div>

    <div>
      <label for="password">Пароль:</label>
      <input id="password" formControlName="password" type="password" required />
      <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
        <small class="text-danger">Пароль обязателен и должен содержать не менее 6 символов.</small>
      </div>
    </div>

    <button type="submit" [disabled]="registerForm.invalid">Зарегистрироваться</button>

    <div *ngIf="errorMessage" class="text-danger">
      {{ errorMessage }}
    </div>
  </form>
</div>
